html,
body,
#root {
  background-color: transparent !important;
}

* {
  user-select: none;
}

#drag-root * {
  pointer-events: none;
}

#main-toolbar {
  pointer-events: auto !important;
}

#main-toolbar * {
  pointer-events: auto !important;
}
